<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		{{ template "title" . }}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Mattia and Viviana wedding" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">
		<!-- Custom styles for this template -->
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
		{{ template "nav" . }}

		<div id="fh5co-started" class="fh5co-bg" style="background-image:url(images/faq.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						{{if $.English}}
<h3 style="color: white">What should I wear? Is there a dress code?</h3>
						<p> The dress code for our wedding is semi-formal/cocktail attire. Ladies should wear cocktail dresses, and the gentlemen should wear a suit and tie.</p>

<h3 style="color: white">What will the weather be like this time of year?</h3>
						<p>It's warm but not too hot. It could be a bit chilly in the evening.</p>

<h3 style="color: white">Will the ceremony and reception be indoors or outdoors?</h3>
						<p>Both the ceremony and the wedding breakfast will be held indoor, however we have planned a few outdoor events (weather permitting).</p>

						<h3 style="color: white">What happens after the ceremony?</h3>
<p>After the ceremony, the bridal party will be taking pictures nearby for around an hour. Guests can head straight to the reception hall where we will be serving finger food and beverages. A traditional Italian lunch will follow.</p>

						<h3 style="color: white">What should I do if I can’t make it?</h3>
						<p>Please let us know as soon as possible.</p>
						
						<h3 id="transport" style="color: white">How do I get to the venue?</h3>
						<!--
<p>The venue is about 30-minutes drive from the church. Please let us know, along with your attendance confirmation (link you will receive), whether
						you would benefit from transport from the church to the venue so that we can arrange it for you. Please note that Uber is not available in Italy and taxi services are very limited. </p>

						-->
						

						<p>The venue is about 30-minutes drive from the church. Please note that Uber is not available in Italy and taxi services are very limited.
							<br>
							For those who have requested transportation, there will be a shuttle (already booked and paid) that will stop at the following stops:
							<ul>
								<li>At 12:30/13:00 - from the church to the restaurant</li>
								<li>At 22:30 - from the restaurant, to Sesto FS (Via Monte Grappa, Sesto San Giovanni, 20099), Monza FS (Via Enrico Arosio, Monza, 20900) and the church (Via San Rocco 3, Monza, 20052)</li>
							</ul>
							
						 </p>

						<h3 style="color: white">What time should I arrive?</h3>
						<p>We recommend that you arrive 15/30 minutes before the start of the ceremony.</p>
						
						<h3 style="color: white">Where should guests park? Is the parking free?</h3>
						<p>There will be plenty of free parking space both at the church and at the venue</p>


						<h3 id="recommendations" style="color: white">Where do you recommend I stay?</h3>
						<p>We would suggest you to stay in Monza or Milan, close to the church. Below some recommendations in Monza:
							<ul>
						<li><a href="https://www.royalfalcone.com" target="_blank">Hotel Royal Falcone</a></li>
						<li><a href="https://www.giardinosegretobb.it/" target="_blank">Al Giardino Segreto</a>
						<li><a href="http://www.anticatrattoriadelluva.it/" target="_blank">Antica Trattoria Dell'Uva</a></li>
						<li><a href="https://www.locandasanpaolomonza.it" target="_blank">Locanda San Paolo</a></li>
						<li><a href="https://www.monzacity.com/" target="_blank">Monza City Room and Studio</a></li>
						<li><a href="https://www.eurohotelresidence.it/" target="_blank">Euro Hotel Residence</a></li>
						</ul>
						</p>
						
						<h3 style="color: white">When is the RSVP deadline? Do I need to mail back my RSVP or can I do it online?</h3>
						<p>Please confirm your attendance by 18th of April using the link we will send you. If you haven't received the link yet, please let us know.</p>
						
						<h3 style="color: white">Will food and drinks be served at the reception? What kind of food?</h3>
						<p>A full sit down Italian traditional meal will be served starting from 2pm (please be prepared to wait until that time :P).</p>
						
						<h3 style="color: white">Will there be any vegan / vegetarian / gluten free / special diet options?</h3>
						<p>Please let us know, along with your attendance confirmation, if you have any special dietary requirements, we will do our best to accommodate them.</p>
						

						<h3 style="color: white">What COVID-19 measures will you be taking during the event?</h3>
						<p>The wedding will be organised according to the Italian government guidance.<br>
							
						<br>It is suggested to wear a face covering in the church. The restaurant does not require it.</p>

						<h3 style="color: white">What is the plan after the cerimony?</h3>
						<p>
							<ul>
								<li>13:15 at the restaurant</li>
								<li>13:30 eating, drinking and entertainment</li>
								<li>18:30 wedding cake</li>
								<li>20:00 party</li>
								<li>23:30 end</li>
								</ul>

						</p>


						{{else}}
						<h3 style="color: white">A che ora dovrei arrivare?</h3>
						<p>Raccomandiamo di arrivare 15/30 minuti prima dell'inizio della cerimonia.</p>
						<h3 id="trasporto" style="color: white">Come andremo al ristorante?</h3>
						
						<p>Il ristorante dista circa 30 minuti di auto dalla chiesa di San Rocco.
							Ognuno sar&agrave; libero di andare con il proprio mezzo di trasporto.
							<!--
							Tuttavia, nel caso avessi bisogno di un passaggio, faccelo sapere con l'apposita funzione quando confermerai la tua partecipazione
							tramite questo sito e ci penseremo noi.
						-->
						<br>
						Per quelli che hanno richiesto il trasporto, ci sar&agrave; un bus (gi&agrave; prenotato e pagato) che far&agrave; le seguenti fermate:
						<ul>
							<li>
								Partenza ore 12:30/13:00 dalla chiesa di Monza San Rocco (Via S. Rocco 3, Monza) al ristorante De Firem Rostec (Via B. Vergine 11, Misano di Gera D’Adda)
							</li>
							<li>
								Ritorno ore 22:30 dal ristorante De Firem Rostec (Via B. Vergine 11, Misano di Gera D’Adda) con fermata a Sesto FS (Via Monte Grappa, Sesto San Giovanni, 20099), Monza FS (Via Enrico Arosio, Monza, 20900) e arrivo a chiesa di Monza San Rocco (Via San Rocco 3, Monza, 20052)
							</li>
						</ul>
							</p>

						<h3 style="color: white">Ci sono parcheggi gratuiti disponibili in zona?</h3>
						<p>Sia in prossimit&agrave; della chiesa che in prossimit&agrave; del ristorante ci sono diverse possibilit&agrave; di parcheggio gratuito</p>
						<h3 id="alloggi" style="color: white">Dove mi consigli di alloggiare?</h3>
						<p>Ti consigliamo di avere come base Monza o Milano. Alcune raccomandazioni in Monza:</p>
						<ul>
							<li><a href="https://www.royalfalcone.com" target="_blank">Hotel Royal Falcone</a></li>
							<li><a href="https://www.giardinosegretobb.it/" target="_blank">Al Giardino Segreto</a>
							<li><a href="http://www.anticatrattoriadelluva.it/" target="_blank">Antica Trattoria Dell'Uva</a></li>
							<li><a href="https://www.locandasanpaolomonza.it" target="_blank">Locanda San Paolo</a></li>
							<li><a href="https://www.monzacity.com/" target="_blank">Monza City Room and Studio</a></li>
							<li><a href="https://www.eurohotelresidence.it/" target="_blank">Euro Hotel Residence</a></li>
							</ul>
						<h3 style="color: white">Entro quando e come posso confermare la mia presenza?</h3>
						<p>Ti chiediamo gentilmente entro il 18 aprile tramite un link che ti manderemo. Se non avessi ancora ricevuto il link, scrivici.</p>

						<h3 style="color: white">Ci sar&agrave; il menu vegano / vegetariano / senza glutine?</h3>
						<p>Ti preghiamo di farci sapere se hai esigenze specifiche in questo senso tramite l'apposita funzione disponibile quando confermerai la tua partecipazione
							tramite questo sito.</p>

							<h3 style="color: white">Misure COVID-19</h3>
						<p>Si suggerisce di indossare la mascherina in chiesa. Il ristorante non la richiede.</p>

						<h3 style="color: white">Qual &egrave; il piano del ricevimento?</h3>
						<p>
							<ul>
								<li>13:15 al ristorante</li>
								<li>13:30 mangiare, bere e divertimento</li>
								<li>18:30 taglio della torta</li>
								<li>20:00 festa</li>
								<li>23:30 fine</li>
								</ul>

						</p>
						{{end}}
						
					</div>
				</div>
			</div>
		</div>

	


	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="js/jquery.countTo.js"></script>

	<!-- Stellar -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>

	<!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script> -->
	<script src="js/simplyCountdown.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>

	

	</body>
</html>

